/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
.custom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 385px;
}

.custom .shape-fill {
    fill: #810EE7;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom svg {
        width: calc(100% + 1.3px);
        height: 222px;
    }
}

}
